<!DOCTYPE html>
<html>
<head>
    <title>WebSocket</title>
</head>
<body>
    <div id="messages"></div>
    <script>
        // Create a new WebSocket connection
        var ws = new WebSocket('ws://localhost:8000/ws/notifications/');

        // Define the onmessage event handler
        ws.onmessage = function(event) {
            var data = JSON.parse(event.data);
            var messagesDiv = document.getElementById('messages');
            if (data.message) {
                // Display the received message
                messagesDiv.innerHTML += '<p>Received message with status: ' + data.status + "<br>Message data: " + data.message  + '</p>';
            } else if (data.time) {
                // Display the received time
                messagesDiv.innerHTML += '<p>Server time: ' + data.time + '</p>';
            }
        };

        // Define the onclose event handler
        ws.onclose = function() {
            console.log('WebSocket connection closed');
        };

        // Define the onerror event handler
        ws.onerror = function(error) {
            console.log('WebSocket error:', error);
        };
    </script>
</body>
</html>